body {
    background-color: rgb(68, 5, 109);
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    background-repeat: no-repeat;
    background-size: cover;
}





ul{
    list-style: square;
    text-align: left;
    line-height: 35px;
    color:black;
}

#add {
background-color: rgb(0, 250, 96);
border: 0;
color: black;
padding: 10px 10px;
padding-right: 30px;
cursor:pointer;
margin-top: 35px;
border-radius: 6px;
margin-left: 230px;
text-align: center;
font-size: 25px;

}

#wrapper {
    margin: auto;
    width: 50%;
background-color: white;
margin-top: 120px;

padding-bottom: 30px;
padding-left: 50px;
padding-top: 30px;
padding-right: 65px;
border-radius: 25px;
justify-content: center;
align-items: center;
display:block;

}

h1 {
    margin-top: 0px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
    border-radius: 12px;
    padding: 20px;
}

#task{
    width: 320px;
    height:30px;
    margin-left: 90px;
    font-size:25px;
    text-align: center;
}

.remove {
    margin-top: 13px;
    background-color:rgb(185, 2, 2);
    float: right;
    clear: both;
    padding-right: 20px;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    border-style: none;
    
    text-align: center;
}

p {
    text-align: center;
    color:black;
}
